@charset "UTF-8";
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-webkit-input-placeholder {
  color: unset;
}
::-moz-placeholder {
  color: unset;
}
:-ms-input-placeholder {
  color: unset;
}
::-ms-input-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

/*------------------
共通項目
-------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  /*16px * 62.5% = 10px*/
}

body {
  color: #000;
  font-family: YuMincho, "Hiragino Mincho ProN", serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}

.wrapper-920 {
  max-width: 920px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .sp-none {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .pc-none {
    display: none !important;
  }
}

.section-title {
  text-align: center;
  font-size: 3rem;
  color: #4D9600;
}

.sub-title {
  text-align: center;
  font-size: 2rem;
  color: #000;
  padding-bottom: 68px;
}

/*------------------
header
-------------------*/
#header {
  position: absolute; /* 背景画像の上に重ねる */
  width: 100%;
  height: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
  z-index: 10;
  /* 三本線 */
  /* ナビゲーション（中身） */
}
#header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header .header h1 {
  color: white;
  font-size: 2rem !important;
}
#header .nav-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* ハンバーガーメニュー */
}
#header .nav-pc .header-nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  cursor: pointer;
}
#header .nav-pc .header-nav-list li {
  font-size: 1.8rem;
}
#header .nav-pc .header-nav-list a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
}
#header .nav-pc .header-nav-list .nav-pc:not(:last-of-type) .header-nav-list {
  gap: 15px;
}
#header .nav-pc .hamburger {
  position: fixed;
  right: 0;
  width: 72px;
  height: 50px;
  background-color: #fff;
  margin: 0 0 0 30px;
  cursor: pointer;
}
#header .hamburger-line {
  position: absolute;
  left: 16px;
  width: 32px;
  height: 4px;
  background: #4D9600;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#header .hamburger-line::before, #header .hamburger-line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 32px;
  height: 4px;
  background: #4D9600;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#header .hamburger-line::before {
  top: -12px;
}
#header .hamburger-line::after {
  top: 12px;
}
#header .hamburger.active .hamburger-line {
  background-color: transparent;
}
#header .hamburger.active .hamburger-line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
#header .hamburger.active .hamburger-line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}
#header .nav-sp {
  position: fixed;
  width: 300px;
  top: 50px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
  background-color: #4D9600;
  z-index: 1;
}
#header .nav-sp ul {
  margin: 0;
  padding: 12px;
  text-align: center;
  list-style: none;
  font-size: 1.8rem;
}
#header .nav-sp ul li:not(:last-of-type) {
  margin-bottom: 36px;
}
#header .hamburger.active .hamburger-line {
  background-color: transparent;
}
#header .hamburger.active .hamburger-line::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
#header .hamburger.active .hamburger-line::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}

/*------------------
slide-area
-------------------*/
#fv {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  display: block !important;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
  #fv {
    display: none;
  }
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  z-index: 0;
}
.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slide .active {
  display: block;
  opacity: 1;
  z-index: 1;
}

@media (max-width: 768px) {
  .main-content {
    padding: 0 55px;
  }
}
.main-content p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 4rem !important;
  letter-spacing: 1.75;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  z-index: 2;
}
@media (max-width: 768px) {
  .main-content p {
    font-size: 3rem !important;
    letter-spacing: 2;
  }
}

/*------------------
about
-------------------*/
#about {
  position: relative;
}

.about-box {
  height: 500px;
  background: url(/images/About.jpg) no-repeat center/cover;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vertical-rl {
  position: absolute;
  top: 20%;
  right: 40%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-column-count: 1;
     -moz-column-count: 1;
          column-count: 1;
  display: inline-block;
  text-align: left;
}
@media (max-width: 768px) {
  .vertical-rl {
    top: 10%;
  }
}
.vertical-rl h2 {
  font-size: 3rem;
  margin-left: 60px;
}
@media (max-width: 768px) {
  .vertical-rl h2 {
    font-size: 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}
.vertical-rl p {
  font-size: 1.8rem;
  line-height: 2.5;
  display: inline-block;
}
@media (max-width: 768px) {
  .vertical-rl p {
    line-height: 1.5;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .vertical-rl {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}

/*------------------
service
-------------------*/
#service {
  background-color: rgba(77, 150, 0, 0.1);
  padding-top: 80px;
  padding-bottom: 135px;
}
@media (max-width: 768px) {
  #service {
    padding: 30px;
  }
}

.service-text {
  background-color: #4D9600;
}

.service-block-left {
  position: relative;
  padding: 40px auto;
}
@media (max-width: 768px) {
  .service-block-left {
    padding-top: 10px;
    padding-bottom: 40px;
  }
}
.service-block-left .service-img {
  max-width: 600px;
}
@media (max-width: 768px) {
  .service-block-left .service-img {
    width: 100%;
  }
}
.service-block-left .service-img img {
  width: 100%;
  height: auto;
  display: block;
}
.service-block-left .service-img p {
  font-size: 1.6rem;
  padding-top: 19px;
}
@media (max-width: 768px) {
  .service-block-left .service-img p {
    padding: 5px;
  }
}
.service-block-left .service-text {
  position: absolute;
  top: 145px;
  right: 0;
  color: white;
  padding: 0.5em;
  z-index: -1;
  width: 500px;
  height: 250px;
}
@media (max-width: 768px) {
  .service-block-left .service-text {
    position: relative;
    top: 0;
    width: 100%;
  }
}
.service-block-left .service-text h4 {
  padding-top: 35px;
  margin-left: 215px;
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .service-block-left .service-text h4 {
    margin-left: 35px;
  }
}
.service-block-left .service-text p {
  margin-left: 215px;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .service-block-left .service-text p {
    margin-left: 35px;
  }
}

.service-block-right {
  position: relative;
  padding-top: 135px;
  padding-bottom: 175px;
}
@media (max-width: 768px) {
  .service-block-right {
    padding-top: 10px;
    padding-bottom: 40px;
  }
}
.service-block-right .service-img {
  max-width: 600px;
  margin: 0 0 0 auto;
}
@media (max-width: 768px) {
  .service-block-right .service-img {
    width: 100%;
  }
}
.service-block-right .service-img img {
  width: 100%;
  height: auto;
  display: block;
}
.service-block-right .service-img p {
  text-align: right;
  font-size: 1.6rem;
  padding-top: 19px;
}
@media (max-width: 768px) {
  .service-block-right .service-img p {
    text-align: left;
    padding: 5px;
  }
}
.service-block-right .service-text {
  position: absolute;
  top: 320px;
  color: white;
  padding: 0.5em;
  z-index: -1;
  width: 500px;
  height: 250px;
}
@media (max-width: 768px) {
  .service-block-right .service-text {
    position: relative;
    top: 0;
    width: 100%;
  }
}
.service-block-right .service-text h4 {
  padding-top: 35px;
  margin-left: 35px;
  font-size: 2.5rem;
}
.service-block-right .service-text p {
  margin-left: 35px;
  font-size: 1.6rem;
}

/*------------------
Works
-------------------*/
#works {
  padding-top: 80px;
  padding-bottom: 95px;
  position: relative;
}
@media (max-width: 768px) {
  #works {
    padding: 30px;
  }
}

.service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media (max-width: 768px) {
  .service-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.service-block .works-item img {
  margin-bottom: 20px;
  width: 200px;
}
@media (max-width: 768px) {
  .service-block .works-item img {
    width: 100%;
  }
}
.service-block .works-item p {
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* モーダルを開くボタン */
.modal-open {
  cursor: pointer;
}

/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  /*モーダル本体の擬似要素の指定*/
}
.modal-content:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-content.active {
  opacity: 1;
  visibility: visible;
}

/*モーダル枠の指定*/
.modal-body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 500px;
  width: 90%;
}

/*モーダルを閉じるボタンの指定*/
.modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

/*モーダル内のコンテンツの指定*/
.modal-container {
  background: #fff;
  text-align: left;
  padding: 30px;
}
.modal-container img {
  margin-bottom: 20px;
}

/*------------------
News
-------------------*/
#news {
  background-color: rgba(77, 150, 0, 0.1);
  padding-top: 80px;
  padding-bottom: 95px;
  position: relative;
}
@media (max-width: 768px) {
  #news {
    padding: 30px;
  }
}

.news-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .news-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

.news, .blog {
  padding: 1.5rem;
  border-radius: 5px;
  width: 430px;
}
@media (max-width: 768px) {
  .news, .blog {
    width: 315px;
  }
}

.news-title, .blog-title {
  background-color: #4D9600;
  color: white;
  padding: 10px 20px;
  font-size: 2rem;
  margin: 0;
}

.news-list, .blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
  background-color: #fff;
  padding: 20px 30px;
}

.news-item, .blog-item {
  border-bottom: 1px solid #60a000;
  padding-bottom: 0.5rem;
  height: 83px;
}

.news-date, .blog-date {
  font-size: 1.6rem;
  display: block;
  color: #666;
  margin-bottom: 0.2rem;
}

.news-text, .blog-text {
  font-size: 1.8rem;
  color: #333;
  margin: 0;
}
@media (max-width: 768px) {
  .news-text, .blog-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }
}

.more {
  display: block;
  text-align: right;
  color: #2e7d1f;
  font-size: 2rem;
  margin-top: 1rem;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  padding-right: 24px;
  position: relative;
  z-index: 1;
}
.more::after {
  position: absolute;
  content: "";
  background-image: url(/images/pass21.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 80px;
  height: 18px;
  left: 0;
  top: 20px;
  bottom: 0;
  margin: auto;
  z-index: -1;
}

/*------------------
Company
-------------------*/
#company {
  padding-top: 80px;
  position: relative;
}
@media (max-width: 768px) {
  #company {
    padding: 30px;
  }
}

.company-block {
  position: relative;
  padding: 40px auto 0 auto;
}
@media (max-width: 768px) {
  .company-block {
    padding-top: 10px;
    padding-bottom: 40px;
  }
}
.company-block .company-map {
  position: relative;
  max-width: 60%;
  padding-top: 60%; /* = height ÷ width × 100 */
}
.company-block .company-map iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.company-text {
  position: absolute;
  top: 200px;
  right: 0;
  background-color: #4D9600;
  padding: 0.5em;
  z-index: -1;
  width: 500px;
  height: 250px;
}
.company-text p {
  color: #fff;
  margin-left: 220px;
}
@media (max-width: 768px) {
  .company-text p {
    margin-left: 35px;
  }
}
@media (max-width: 768px) {
  .company-text {
    position: relative;
    top: 20px;
    width: 100%;
  }
}

.company-title {
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 7px;
}

.company-address {
  font-size: 1.6rem;
}

.company-tel, .company-email {
  font-size: 1.6rem;
}
.company-tel span, .company-email span {
  font-size: 2rem;
}

/*------------------
Contact
-------------------*/
#contact {
  background-color: rgba(77, 150, 0, 0.1);
  padding-top: 80px;
  position: relative;
}
#contact p {
  text-align: center;
  font-size: 2rem;
}
@media (max-width: 768px) {
  #contact {
    padding: 30px;
  }
}

.contact-inner {
  max-width: 800px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-form {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 2rem;
}
.contact-form .contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

.contact-heading {
  width: 170px;
  -ms-flex-item-align: center;
      align-self: center;
}
.contact-heading label span {
  margin: 0 0 0 5px;
  font-weight: bold;
}

.contact-textbox {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-style: solid;
  background-color: #fafafa;
  max-width: 630px;
  height: 50px;
  padding: 20px;
}
.contact-textbox::-webkit-input-placeholder {
  color: A0A0A0;
  font-size: 1.6rem;
}
.contact-textbox::-moz-placeholder {
  color: A0A0A0;
  font-size: 1.6rem;
}
.contact-textbox:-ms-input-placeholder {
  color: A0A0A0;
  font-size: 1.6rem;
}
.contact-textbox::-ms-input-placeholder {
  color: A0A0A0;
  font-size: 1.6rem;
}
.contact-textbox::placeholder {
  color: A0A0A0;
  font-size: 1.6rem;
}

select {
  background-color: #fff;
  max-width: 630px;
  height: 50px;
  padding: 20px 12px auto 12px;
}

:option {
  font-size: 1.8rem;
}

.contact-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 74px;
}

input[type=radio] {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: -2px;
  background-color: #fff;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}
input[type=radio]:checked:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #000;
  content: "";
}

.contact-textarea {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  background-color: #fafafa;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 800px;
  height: 200px;
}

input[type=checkbox] {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=checkbox]:checked:before {
  position: absolute;
  top: 7px;
  left: 5px;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  width: 5px;
  height: 8px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  content: "";
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.5rem 1.5rem;
  margin-top: 0.5rem;
}

.privacy-policy {
  margin-top: 50px;
  margin-bottom: 80px;
}

.privacy-policy-box {
  background-color: #fff;
  max-width: 800px;
  height: 300px;
  padding: 40px;
  overflow-y: scroll;
  margin-top: 10px;
}
.privacy-policy-box p {
  letter-spacing: 0.5806451613 !important;
  text-align: left !important;
}

.privacy-policy-box-title {
  margin-bottom: 40px;
}

/* ボタン */
.button-block {
  margin: 80px auto;
  text-align: center;
}

.submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
  height: 50px;
  color: #fff;
  background-color: #4D9600;
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.submit-button::after {
  content: "";
  width: 7px;
  height: 7px;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.submit-button:hover {
  text-decoration: none;
  background-color: rgba(59, 161, 56, 0.3);
}

/*------------------
Footer
-------------------*/
footer {
  background-color: #fff;
  text-align: center;
  padding-top: 80px;
}
footer hr {
  border: none;
  text-align: center;
  border-top: 1px solid #000;
  margin-left: 180px;
  margin-bottom: 20px;
  width: 70%;
}

.footer-logo {
  font-size: 2rem;
  padding-bottom: 28px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-nav a {
  margin: 25px;
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
}

.sns-btns {
  margin-bottom: 80px;
}
.sns-btns a {
  padding: 0 15px;
}

.copyright {
  background-color: #4D9600;
  color: #fff;
  max-width: 100%;
  height: 92px;
  font-size: 2rem;
}
.copyright p {
  padding-top: 30px;
}/*# sourceMappingURL=style.css.map */