@charset "UTF-8";
@use '_reset.scss';
@use '_mediaQuery.scss'as *; 

/*------------------
共通項目
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

html{
     font-size: 62.5%;
    /*16px * 62.5% = 10px*/
}
body{
    color: #000;
    font-family: YuMincho,"Hiragino Mincho ProN",serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing:0.05em;
    margin: 0;
    box-sizing: border-box;

}
img{
    max-width: 100%;
    vertical-align: bottom;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    &:hover{
        opacity: 0.7;
    }
}
.wrapper-920{
  max-width: 920px;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}
.sp-none{
  @media screen and (max-width:767px){
    display: none!important;
  }
}
.pc-none{
  @media screen and (min-width:768px){
    display: none!important;
  }
}
.section-title{
  text-align: center;
  font-size: 3rem;
  color: #4D9600;  
  
 
}
.sub-title{
  text-align: center;
  font-size: 2rem;
  color: #000;
  padding-bottom: 68px;
}

/*------------------
header
-------------------*/
#header {
  position: absolute; /* 背景画像の上に重ねる */
    width: 100%;
    height: 122px;
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
     z-index: 10;
     .header{
      display: flex;
      justify-content: space-between;
      h1{
          color: white;
          font-size: 2.0rem !important;
        }    
                 
      }
    .nav-pc{
      display: flex;
      align-items: center;
      .header-nav-list {
        list-style: none;
        display: flex;
        align-items: center;               
        padding: 0;
        cursor: pointer;
          li{
            font-size: 1.8rem;
          }
          a {          
            color: white;
            text-decoration: none;
            margin-left: 30px;
          }
      .nav-pc:not(:last-of-type){
        .header-nav-list{
          gap: 15px; 
        }
      }
      }
    
      /* ハンバーガーメニュー */
      .hamburger{
        position: fixed;
        right: 0;
        width: 72px;
        height: 50px;
        background-color:#fff ;
        margin: 0 0 0 30px;
        cursor: pointer;
        
        }
        
      }
      /* 三本線 */
      .hamburger-line {
        position: absolute;
        left: 16px;
        width: 32px;
        height: 4px;
        background: #4D9600;
        transition: 0.3s;
        -webkit-transition: 0.3s;
      
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 0;
          width: 32px;
          height: 4px;
          background: #4D9600;
          transition: 0.3s;
          -webkit-transition: 0.3s;
        }
      
        &::before {
          top: -12px;
        }
      
        &::after {
          top: 12px;
        }
      }
      .hamburger.active{
        .hamburger-line{
          background-color: transparent;
          &::before {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 0;
          }
          &::after{
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 0;
          }

        }

      }
      
      /* ナビゲーション（中身） */
      .nav-sp{
        position: fixed;
        width: 300px;
        top: 50px;
        right: 0;
        bottom: 0;
        overflow: hidden;
        display: none;
        background-color: #4D9600;
        z-index: 1;
        ul{
          margin: 0;
          padding: 12px;
          text-align: center;
          list-style: none;
          font-size: 1.8rem;
          li:not(:last-of-type){
            margin-bottom: 36px;
          }
          }
        }
        .hamburger.active .hamburger-line {
          background-color: transparent;
          &::before {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 0;
          }
          &::after {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 0;
          }
        }
        
        
      }    
  
/*------------------
slide-area
-------------------*/

#fv{
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
  display: block !important; 
  background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); // Safari対応
  @media (max-width: 768px) {
    display: none;
    }
  } 
  
.slides {
    position: relative;
  width: 100%;
  height: 100%;
     }
.slide {
    position: absolute;
    width: 100%;
    height: 100%;    
    transition: opacity 1s ease;
    z-index: 0;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .active {
      display: block;
        opacity: 1;
        z-index: 1;
        
    }
  }
  .main-content{
    @media (max-width: 768px){
      padding: 0 55px;
      
    }
    p{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      color: white;
      text-align: center;
      font-size: 4rem !important; 
      letter-spacing: calc(70/40);
      text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
      z-index: 2;    
      @media (max-width: 768px) {
      font-size: 3rem !important; 
      letter-spacing: calc(60/30);
      }
    }
    
  }  

/*------------------
about
-------------------*/
#about{
  position: relative;
}
.about-box{
  height: 500px;
  background: url(/images/About.jpg) no-repeat center/cover;
  background-size: cover;
  display: flex;
  text-align: center;
  justify-content: center;
}
.vertical-rl{
  position:absolute;
  top: 20%;
  right: 40%;
  writing-mode: vertical-rl;
  column-count: 1;
  display: inline-block;
  text-align: left;
  
  @media (max-width: 768px){
    top: 10%;
    
  }
  
  h2{
    font-size: 3rem;
    margin-left: 60px;
    @media (max-width: 768px){
      font-size: 2.5rem;
      display: flex;
    align-content:center
    }
  }    
  p{
    font-size:1.8rem ;
   line-height: 2.5;
   display: inline-block;
   @media (max-width: 768px) {
    line-height:1.5;
   justify-content: center;

   }
  } 
  @media (max-width: 768px) {
    column-count: 2;
    column-gap: 2.5rem;
    }
  

}

/*------------------
service
-------------------*/
#service{
  background-color:rgba(77,150,0,0.1);
  padding-top: 80px;
  padding-bottom: 135px;
  
  @media (max-width: 768px){
    padding: 30px;
  }
  
}

.service-text{
  background-color: #4D9600;
 
}

.service-block-left{
  position: relative;
  padding: 40px auto;
  @media (max-width: 768px){
    padding-top: 10px;
  padding-bottom: 40px;
  }
  .service-img{
    max-width: 600px;
    @media (max-width: 768px){
      width: 100%;
    }
    img{
      width: 100%;
      height: auto;
      display: block;
    }
    p{
      font-size: 1.6rem;
      padding-top: 19px;
      @media (max-width: 768px){
        padding: 5px;
      }
    }
    
  }
  .service-text{
    position: absolute;
    top: 145px;
    right: 0;  
    color: white;
    padding: 0.5em;
    z-index: -1;
    width: 500px;
    height: 250px;
    @media (max-width: 768px){
      position: relative;
      top: 0;
      width: 100%;
    }
  
  h4{
    padding-top: 35px;
    margin-left: 215px;
    font-size: 2.5rem;
    @media (max-width: 768px){
      margin-left: 35px;
    }
   
  }
  p{
    margin-left: 215px;
    font-size: 1.6rem;
    @media (max-width: 768px){
      margin-left: 35px;
    }
  }
  }
}
.service-block-right{
  position: relative;
  padding-top: 135px;
  padding-bottom: 175px;
  @media (max-width: 768px){
    padding-top: 10px;
  padding-bottom: 40px;
  }
  
  .service-img{    
    max-width: 600px;
    margin: 0 0 0 auto;
    @media (max-width: 768px){
    width: 100%;
    }
    
    img{
      width: 100%;
      height: auto;
      display: block;
    }
    p{
      text-align: right;
      font-size: 1.6rem;
      padding-top: 19px;
      @media (max-width: 768px){
        text-align: left;
        padding: 5px;
      }
    }
  }
  .service-text{
    position: absolute;
    top: 320px;       
    color: white;
    padding: 0.5em;
    z-index: -1;
    width: 500px;
    height: 250px;                                          
    @media (max-width: 768px){
    position: relative;
    top: 0;
    width: 100%;
    }
  
  h4{
    padding-top: 35px;
    margin-left: 35px;
    font-size: 2.5rem;
    
  }
  p{
    margin-left: 35px;
    font-size: 1.6rem;
    
  }
  }
}
/*------------------
Works
-------------------*/
#works{ 
    padding-top: 80px;
    padding-bottom: 95px;
    position: relative;
    @media (max-width: 768px){
      padding: 30px;
    }
  }
.service-block{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @media (max-width: 768px){
    flex-direction: column;
    
  }
  .works-item {
    img{
    margin-bottom: 20px;
    width: 200px;
    @media (max-width: 768px){
      width: 100%;
    }
  }
    p{
    font-size: 16px;
  }
  
}}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* モーダルを開くボタン */
.modal-open {
  cursor: pointer;
}


/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-content{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
  cursor: pointer;
  /*モーダル本体の擬似要素の指定*/
&:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
}

/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-content.active{
  opacity: 1;
  visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 500px;
  width: 90%;
}
/*モーダルを閉じるボタンの指定*/
.modal-close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.modal-container{
  background: #fff;
  text-align: left;
  padding: 30px;
  img{
    margin-bottom: 20px;
  }
}
/*------------------
News
-------------------*/
#news{
  background-color:rgba(77,150,0,0.1);
  padding-top: 80px;
  padding-bottom: 95px;
  position: relative;
  @media (max-width: 768px){
      padding: 30px;
  }
}
.news-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px){
    flex-direction: column;
    margin: 0 auto;
  }
  
}
.news,.blog {    
  padding: 1.5rem;  
  border-radius: 5px;
  width: 430px;  
  @media (max-width: 768px){
    width: 315px;
  }
}

.news-title,.blog-title {
  background-color: #4D9600;
  color: white;
  padding: 10px 20px;
  font-size: 2rem;
  margin: 0;
}

.news-list,.blog-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #fff;
  padding: 20px 30px;
}

.news-item,.blog-item {
  border-bottom: 1px solid #60a000;
  padding-bottom: 0.5rem;
  height:83px ;
}

.news-date,.blog-date {
  font-size: 1.6rem;
  display: block;
  color: #666;
  margin-bottom: 0.2rem;
}

.news-text,.blog-text {
  font-size: 1.8rem;
  color: #333;
  margin: 0;
  @media (max-width: 768px){
    display: -webkit-box;             
    -webkit-box-orient: vertical;      
    overflow: hidden;                  
    text-overflow: ellipsis;           
    -webkit-line-clamp: 2;
  }
}

.more {
  display: block;
  text-align: right;
  color: #2e7d1f;
  font-size: 2rem;
  margin-top: 1rem;
  text-decoration: none;
  width: fit-content;
  margin-left: auto;
  padding-right: 24px;
  position: relative;
  z-index: 1;

&::after{
  position: absolute;
  content: "";
  background-image: url(/images/pass21.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 80px;
  height: 18px;
  left: 0;
  top: 20px;
  bottom: 0;
  margin: auto;
  z-index: -1;
}}

/*------------------
Company
-------------------*/
#company{ 
  padding-top: 80px;  
  position: relative;
  @media (max-width: 768px){
      padding: 30px;
  }
}
.company-block{
  position: relative;
  padding: 40px auto 0 auto;
  @media (max-width: 768px){
    padding-top: 10px;
  padding-bottom: 40px;
  }
  .company-map{
      position: relative;
      max-width: 60%;
      padding-top: 60%; /* = height ÷ width × 100 */
    
    iframe {
      position: absolute;
      top: 0;
      left: 0;      
    }
    }   
  
  }
  .company-text{
    position: absolute;
    top: 200px;
    right: 0;  
    background-color: #4D9600;  
    padding: 0.5em;
    z-index: -1;
    width: 500px;
    height: 250px;
    p{
      color: #fff;
      margin-left: 220px;     
      @media (max-width: 768px){
      margin-left: 35px;
      }
    }
      @media (max-width: 768px){
      position: relative;
      top: 20px;
      width: 100%;
    }}
    .company-title{
      font-size: 2rem;
      margin-top: 50px;
      margin-bottom: 7px;
    }
    .company-address{
      font-size: 1.6rem;
    }
    .company-tel,.company-email{
      font-size: 1.6rem;
      span{
        font-size: 2rem;
      }
    }

/*------------------
Contact
-------------------*/
#contact{
  background-color:rgba(77,150,0,0.1);
  padding-top: 80px; 
  position: relative;
  p{
    text-align: center;
    font-size: 2rem;
  }
  @media (max-width: 768px){
      padding: 30px;      
  }
}
.contact-inner{
  max-width: 800px;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}
.contact-form{
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 2rem;
  .contact-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }
}
.contact-heading {
  width: 170px;
  align-self: center;
    label{
     span{
      margin: 0 0 0 5px;
      font-weight: bold;
    }
  }
}
.contact-textbox {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-style: solid;
  background-color: #fafafa;
  max-width: 630px;
  height: 50px;
  padding: 20px;
  &::placeholder {
    color: A0A0A0;
    font-size: 1.6rem;
  }

}
select{
  background-color: #fff;
  max-width: 630px;
  height: 50px;
  padding: 20px 12px auto 12px;
   
  }
:option{
  font-size: 1.8rem;
  
}
.contact-radio{
  display: flex; 
  gap: 74px;
}
input[type="radio"] {
  position: relative;
  width: 20px;
  height: 20px;  
  border-radius: 50%;
  vertical-align: -2px;
  background-color: #fff;
  display: inline-block; 
  margin-right: 20px;
  
  cursor: pointer; 
  &:checked:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #000;
    content: '';
  }
}
.contact-textarea {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  background-color: #fafafa;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 800px;
  height: 200px;
}
input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: inline-block; 
  margin-right: 20px; 
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          &:checked:before {
            position: absolute;
            top: 7px;
            left: 5px;
            transform: rotate(50deg);
            width: 5px;
            height: 8px;
            border-right: 2px solid #000;
            border-bottom: 2px solid #000;
            content: '';
          }        
}
.checkbox-group{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  
}
.privacy-policy{
  margin-top: 50px;
  margin-bottom: 80px;
}

.privacy-policy-box {
  background-color: #fff;
  max-width: 800px;                
  height: 300px;
  padding:40px;              
  overflow-y: scroll;
  margin-top:10px ;
  p{
    letter-spacing: calc(18/31) !important;
    text-align: left !important;
  }        
}
.privacy-policy-box-title{
  margin-bottom: 40px;
}
/* ボタン */
.button-block{
  margin: 80px auto;
  text-align: center;
  
}
.submit-button {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
  height: 50px;
  color: #fff;
  background-color: #4D9600;
  font-weight: 700;
  transition: 0.3s;  
  &::after {
    content: "";
    width: 7px;
    height: 7px;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    transform: rotate(45deg);
  }
  &:hover {
    text-decoration: none;
    background-color: rgba(59, 161, 56, 0.3);
  }
}
/*------------------
Footer
-------------------*/
footer{
  background-color: #fff;
  text-align: center;
  padding-top: 80px;

  hr {
    border: none;
    text-align: center;
    border-top: 1px solid #000;
    margin-left: 180px;
    margin-bottom: 20px;
    width: 70%;
  }
}
.footer-logo{

  font-size: 2rem;
  padding-bottom: 28px;  
}

.footer-nav{
  display: flex;
  justify-content: center; 
  
  a{
   margin: 25px;
   font-size: 1.8rem;
   display: inline-block;
   text-decoration: none;
  
}}

.sns-btns{
  margin-bottom:80px ;
  a{
    padding: 0 15px;
  }
}
.copyright{
  background-color: #4D9600;
  color: #fff;
  max-width: 100%;
  height: 92px;
  font-size: 2rem;
  
  p{
    padding-top: 30px;
  }
 
 
}


